<h1 class="backshadow">
   <i class="fa fa-user-circle-o" aria-hidden="true"></i>
</h1>

<section>

   <p>I am a Front End Web/UI developer with experience in PHP/NodeJS, JavaScript and frameworks
      such as Angular, Ionic Framework, and Apache Cordova. Over time my interests have settled on serverless UI development with some of the popular UI libraries available today. I am a developer with equal interests in  development as well as presentation (visual/media).</p>

   <p>I try to stay up to date with best-practices and regularly attend live YouTube discussions or
      Meetups.</p>

   <ul>
      <li>App Version: 2.0</li>
      <li>Framework: Angular 12</li>
      <li>Features: Router, Deep-linking, Pipe, Service, HTTP Client Module</li>
   </ul>

</section>

<br>

<div id="nglogo">
   <a href="https://angular.io" target="_blank"><img src="https://angular.io/assets/images/logos/angular/angular.svg"
         alt="www.angular.io" title="www.angular.io"></a>
</div>