<nav class="shadow">
  <div class="navgroup">
      <a routerLink="/home" routerLinkActive="active"><i class="fa fa-home" aria-hidden="true"></i> <span class="nav-text">HOME</span></a>
      <a routerLink="/gallery" routerLinkActive="active"><i class="fa fa-picture-o" aria-hidden="true"></i> <span class="nav-text">GALLERY</span></a>
      <a routerLink="/about" routerLinkActive="active"><i class="fa fa-user-circle-o" aria-hidden="true"></i> <span class="nav-text">ABOUT</span></a>
  </div>
</nav> 

<div id="container">     
  <router-outlet></router-outlet>
</div> 

<app-footer></app-footer> 