<h1 class="backshadow"><i class="fa fa-home secondary-text-color" aria-hidden="true"></i>
	<!-- <br>My Portfolio -->
</h1>

<div id="cube_container">

	<div id="box">

		<!-- angular -->
		<div id="front">
			<div class="bg"></div>
			<div class="fg">
				<div style="position: relative;">
					<a href="https://angular.io" target="_blank" style="position:absolute; top:20px;left:20px;"><img src="https://angular.io/assets/images/logos/angular/angular.svg" width="70"	alt="angular logo" title="www.angular.io"></a>
					<a href="https://angular.io" target="_blank" style="position:absolute; bottom:20px; right:20px;"><img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" width="60" alt="angularjs logo" title="angularjs logo"></a>
				</div>
			</div>
		</div>

		<!-- html5/css/js logos -->
		<div id="back">
			<div class="bg"></div>
			<div class="fg" >
				<div style="position:relative;">
					<a href="https://commons.wikimedia.org/wiki/File:HTML5_Badge.svg" style="position:absolute; top:20px;left:20px;"><img width="40" alt="HTML5 icon" title="HTML5 icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/38/HTML5_Badge.svg/64px-HTML5_Badge.svg.png"></a>
					<a href="https://commons.wikimedia.org/wiki/File:Javascript-shield.svg" ><img width="40" alt="Javascript icon" title="Javascript icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Javascript-shield.svg/64px-Javascript-shield.svg.png"></a>
					<a href="https://commons.wikimedia.org/wiki/File:CSS3_logo_and_wordmark.svg" style="position:absolute; bottom:20px;right:20px;"><img width="40"  title="CSS3 icon" alt="CSS3 icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/256px-CSS3_logo_and_wordmark.svg.png"></a>
				</div>
			</div>
		</div>
		
		<!-- firebase logo -->
		<div id="left">
			<div class="bg"></div>
			<div class="fg">
				<a title="firebase logo" href="https://commons.wikimedia.org/wiki/File:Javascript-shield.svg"><img width="120" alt="firebase logo" src="https://firebase.google.com/downloads/brand-guidelines/SVG/logo-standard.svg"></a>
				<!-- <div></div> -->
			</div>
		</div>

		<!-- nodejs logo -->
		<div id="right">
			<div class="bg"></div>
			<div class="fg">
				<img width="100" src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Node.js_logo.svg"/>
			</div>
		</div>

		<div id="top">
			<div class="bg"></div>
		</div>

		<div id="bottom">
			<div class="bg"></div>
		</div>

	</div>

</div>

<section>
	<h2>Renovation Mode</h2>
	
	<p>Greetings, I am still in the process of updating my portfolio and upgrading to Angular 12. For now, the Gallery contains projects overviews and below is a summary of what I am currently doing.</p>
</section>
<br>

<section>
	<h2>The Present</h2>

	<h3>Primary Role &amp; Responsibilities</h3>
	<ul>
		<li>Environment: <b>.Net</b></li>
		<li>Role: <b>UI Developer</b></li>
		<li>Library/framework: <b>AngularJS, Angular 5</b></li>
		<li>Responsibilities: Develop new UI features per the direction of the User Experience and Customer Experience decision makers </li>
	</ul>

	<h3>Secondary Role &amp; Responsibilities</h3>
	<ul>
		<li>Environment: <b>NodeJS</b></li>
		<li>Role: <b>UX Designer</b></li>
		<li>Library/framework: <b>Angular (latest)</b></li>
		<li>Wireframe/Mock-ups Programs: <b>Balsamiq, PhotoShop CC</b></li>
		<li>Responsibilities:  Create wireframes, low/high fidelity proof-of-concepts and update Sitecore CMS assets per request </li>
	</ul>

	<h3>Other Projects</h3>
	<ul>
		<li>A progressive web app which served short stories</li>
		<li>Library/framework: <b>Vanilla Javascript, Workbox (PWA), ParcelJS, NodeJS, Firebase</b></li>
	</ul>

	<h3>Certificates</h3>
	<ul>
		<li>Angular Progressive Web Apps (2019)</li>
		<li>Javascript Debugging Crash Course (2019)</li>
		<li>Javascript: Understanding the Weird Parts (2019)</li>
	</ul>

	<h3>Interested In</h3>
	<ul>
		<li>Angular projects (primarily) and exploring <u>simple</u> React/Vue/Svelte projects</li>
		<li>Working remotely</li>
		<li>Machine Learning</li>
	</ul>
</section>
<br>
